<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="parsecomexample.ParsePlugin"
        version="0.0.1">
    <name>Parse</name>
    <description>Parse.com Plugin</description>
    <license></license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/parse.js" name="parse">
        <clobbers target="parsePlugin" />
    </js-module>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/ParseProxy.js" name="ParseProxy">
            <runs/>
        </js-module>
        <framework src="src/Windows/ParseProxy.winmd" custom="true"/>
    </platform>
</plugin>
